<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h2><a href="/exam/th/printmodel">타임리프에서 model에 저장된 값 출력하기</a></h2>
		<h2><a href="/exam/th/iftest">조건제어하기</a></h2>
		<h2><a href="/exam/th/sharedObjTest">컨트롤러에서 공유한 데이터 꺼내서 출력하기</a></h2>
		<h2><a href="/exam/dept/list.do">부서목록조회</a></h2>
		<h2><a href="/exam/th/fragmenttest">프레그먼트</a></h2>
		<h2><a href="/exam/th/layout">레이아웃연습</a></h2>
	</div>
</body>
</html>